mixin input (name, type, min)
	label(tooltip=`[[L.${name}_info]]`)
		| [[L.#{name}]]
		cs-tooltip
	cs-input-text: input(type=type value=`{{settings.${name}}}` min=min)
mixin on-off-switcher (name)
	- values = [0,1]
	- translations = ['[[L.no]]', '[[L.yes]]']
	label(tooltip=`[[L.${name}_info]]`)
		| [[L.#{name}]]
		cs-tooltip
	cs-group
		each value, index in values
			if index
				cs-label-button: label
					input(type="radio" value=value)
					= translations[index]
			else
				cs-label-button(value=`{{settings.${name}}}`): label
					input(type="radio" value=value)
					= translations[index]
dom-module#cs-blogs-admin-general
	template
		style(include="advanced-styles")
		cs-form: form.cs-text-center
			+input("posts_per_page", "number", 1)
			+input("max_sections", "number", 1)
			+on-off-switcher("enable_comments")
			+on-off-switcher("new_posts_only_from_admins")
			+on-off-switcher("allow_iframes_without_content")
			p
				cs-button(tooltip="[[L.save_info]]"): button(type="button" on-tap="_save") [[L.save]]
	script(src="script.js")
