mixin on-off-switcher (name, hidden, values, translations)
	- hidden = hidden && '[[' + hidden + ']]'
	- values = values || [0,1]
	- translations = translations || ['[[L.system_admin_off]]', '[[L.system_admin_on]]']
	label(tooltip=`[[L.${name}_info]]` hidden=hidden)
		| [[L.#{name}]]
		cs-tooltip
	cs-group(hidden=hidden)
		each value, index in values
			if index
				cs-label-button: label
					input(type="radio" value=value)
					= translations[index]
			else
				cs-label-button(value=`{{settings.${name}}}`): label
					input(type="radio" value=value)
					= translations[index]
mixin footer-buttons
	p
		cs-button(tooltip="[[L.system_admin_apply_info]]"): button(type="button" on-tap="_apply") [[L.system_admin_apply]]
		= ' '
		cs-button(tooltip="[[L.system_admin_save_info]]"): button(type="button" on-tap="_save") [[L.system_admin_save]]
		= ' '
		cs-button(tooltip="[[L.system_admin_cancel_info]]"): button(type="button" on-tap="_cancel" disabled="[[!settings.applied]]") [[L.system_admin_cancel]]
mixin input (name, hidden, type, min, max)
	- hidden = hidden && '[[' + hidden + ']]'
	label(tooltip=`[[L.${name}_info]]` hidden=hidden)
		| [[L.#{name}]]
		cs-tooltip
	cs-input-text: input(type=type value=`{{settings.${name}}}` hidden=hidden min=min max=max)
mixin textarea (name, hidden, bind_name)
	- hidden = hidden && '[[' + hidden + ']]'
	- bind_name = bind_name || `settings.${name}`
	label(tooltip=`[[L.${name}_info]]` hidden=hidden)
		| [[L.#{name}]]
		cs-tooltip
	textarea(is="cs-textarea" autosize value=`{{${bind_name}}}` hidden=hidden)
mixin editor (name, simple)
	label(tooltip=`[[L.${name}_info]]`)
		| [[L.#{name}]]
		cs-tooltip
	if simple
		cs-editor-simple(value=`{{settings.${name}}}`)
			textarea(is="cs-textarea" autosize value=`{{settings.${name}}}`)
	else
		cs-editor(value=`{{settings.${name}}}`)
			textarea(is="cs-textarea" autosize value=`{{settings.${name}}}`)
