mixin radio-single (target, value)
	-
		var text = function () {
			switch (value) {
				case -1: return 'inherited';
				case 0: return 'deny';
				case 1: return 'allow';
			}
		}();
	label(is="cs-label-button")
		input(type="radio" value="#{value}" checked="[[#{target}_permission_state(#{target}.id, #{value})]]" name$="[[concat('#{target}s[', #{target}.id, ']')]]")
		[[L.#{text}]]
mixin radio-group(target)
	+radio-single(target, -1)
	+radio-single(target, 0)
	+radio-single(target, 1)
mixin user-row
	tr
		td(tooltip="[[user.email]]")
			[[username(user)]]
			cs-tooltip
		td
			+radio-group('user')
mixin group-actions
	p.cs-text-left
		button(is="cs-button" on-tap="invert" type="button") [[L.invert]]
		= ' '
		button(is="cs-button" on-tap="allow_all" type="button") [[L.allow_all]]
		= ' '
		button(is="cs-button" on-tap="deny_all" type="button") [[L.deny_all]]
dom-module#cs-system-admin-permissions-for-item
	template
		style(include="advanced-styles")
		nav(is="cs-nav-tabs" selected="{{selected_tab}}")
			button(is="cs-button") [[L.groups]]
			button(is="cs-button") [[L.users]]
		form#form
			section(is="cs-section-switcher" selected="[[selected_tab]]")
				div
					+group-actions
					table.cs-table(right-left)
						h2.cs-text-center(hidden="[[groups.length]]")
							cs-icon(icon="spinner" spin)
						template(is="dom-repeat" items="[[groups]]" as="group")
							tr
								td(tooltip="[[group.description]]")
									[[group.title]]
									cs-tooltip
								td
									+radio-group('group')
				div
					+group-actions
					table.cs-table#users(right-left)
						template(is="dom-repeat" items="[[users]]" as="user")
							+user-row
					input#search(is="cs-input-text" autocomplete="off" placeholder="[[L.type_username_or_email_press_enter]]" type="search")
					table.cs-table#search-results(right-left)
						template(is="dom-repeat" items="[[found_users]]" as="user")
							+user-row
		button(is="cs-button" on-tap="save" type="button") [[L.save]]
	script(src="script.js")
